body {
  height: 100%;
  margin:0;
  font-family:"Lato", sans-serif;
  font-size: 20px;
  font-weight: 50px;
  line-height: 1.8em;
  background: rgba(114, 66, 110, 0.267);
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  color: rgba(255, 255, 255, 0.021);
  background: rgba(0, 0, 0, 0.836);
  display: block;
  float: left;
  padding: 1rem;
  /* position: relative; */
  text-decoration: none;
  transition-duration: 0.7s;
}

li a {
color: white;
}

li:hover {
  background: #4e3531;
  cursor: pointer;
}

ul li ul {
  position: absolute;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
display: block;
}

ul li ul li {
clear: both;
width: 100%;
}




.hero-foto {
  background-image:url('/laptop.jpg');
  min-height: 1000px;
}

.middle-foto {
  background-image:url('/ballet.jpg');
  min-height: 1000px;
}

.bottom-foto {
  background-image:url('/camera2.jpg');
  min-height: 500px;
}

.hero-foto, .middle-foto, .bottom-foto, .repeat-foto {
position: relative;
opacity: 0.75;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}


#about-me, #skills, #form {
  text-align: center;
  padding: 50px 80px;
}

.hero-text {
  position: absolute;
  top:50%;
  width:100%;
  text-align: center;
  color: black;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
  transition-duration: 0.7s;
  }

.middle-text, .bottom-text {
position: absolute;
top:50%;
width:100%;
text-align: center;
color: black;
font-size: 27px;
letter-spacing: 8px;
text-transform: uppercase;
}

.border {
  background: black;
  color: white;
  padding: 50px;
  
}

.footer {
  
}


@media(max-width:568px){
  .hero-foto, .middle-foto, .bottom-foto, .repeat-foto{
    background-attachment: scroll;
  }
}