body {
    margin:0;
    background-color:#ebced0; 
    font-family: 'Open Sans', sans-serif;
}

.hero-image {
    background-image:url("f5.jpg");
    background-color: #ebced0;
    height: 850px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    background-size: cover;
    position: relative;
    box-shadow: 0 0 20px 10px white; 
    background-size: 78% 100%;
}
 
.hero-text {

    text-align: center;
    position: absolute;
    top: 30%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: white;  
}

.hero-text2 {
    background: rgb(202, 154, 154);
    display: flex;
    flex-direction: column;    
    }

.contact {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-left: 30px;
    font-size: 15px;
    }


a {
    text-decoration: none;
    color: white;
    }

a:hover { 
    color:black;
    }



 

  